.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/app.iml
.idea/vcs.xml
/.idea/misc.xml
/p2pmanager/p2pmanager.iml
/RadarScanView/RadarScanView.iml
/rippleoutlayout/rippleoutlayout.iml
/rippleview/rippleview.iml
/.idea/vcs.xml
